@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.ttf'),
        url('../fonts/PTSans-Bold.ttf'),
        url('../fonts/PTSans-Italic.ttf');
}

body {
    font-family: 'PT Sans';
}

a {
    color: #182a69;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

a:hover {
    border-bottom: 1px solid #182a69;
    color: #182a69;
}

a,
button {
    transition: all .3s linear;
}

a:focus,
a:hover {
    text-decoration: none;
}

.header-logo img {
    width: 200px;
}

.owl-feedback-form input,
.owl-feedback-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
}

.registration__agree {
    margin-top: 10px;
}

button.btn-close {
    font-size: 14px;
    z-index: 1;
    right: 15px;
    top: 7px;
    position: absolute;
}

.header-contacts-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.header-block-page {
    background-image: url("../images/keaz.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    position: relative;
    margin-bottom: 60px;
}

.header-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-page {
    position: relative;
}

.page-btn {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 22px;
}

.page-btn:hover {
    background-color: #fff;
    color: #212529;
}

.header-phones a {
    display: block;
    color: #fff;
    font-size: 22px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
}

.header-page a:hover {
    color: #fff;
    border-bottom-color: #fff;
}

.main-page-title {
    text-align: center;
    color: #fff;
    padding: 50px 0;
}

.dropdown-item {
    border-bottom: 1px solid transparent;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #182a69;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.header-row-top-social a {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}

@media(max-width: 991px) {}

@media(max-width: 767px) {}

@media (max-width: 490px) {}